.new_medication_page_main {
  background-color: #EAEAEA;
  width: 100%;
  height: 100vh;
  padding-bottom: 6rem;

  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    width: 67.5rem;
    height: auto;
    min-height: 57rem;

    padding: 4rem 9rem;

    border-radius: 1rem;

    background-color: var(--secondary-color);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

    h1 {
      color: var(--text-primary);

      font-family: Poppins;
      font-size: 3rem;
      font-style: normal;
      font-weight: 600;
      line-height: 100%;
      text-align: center;

      margin-bottom: 3rem;
    }

    .datePicker_container {
      width: 100%;
      height: 10rem;
    
      padding: 1rem 0;
      margin-top: 0.5rem;
    
      label {
        color: var(--text-secondary);
    
        font-family: Poppins;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        text-transform: capitalize;
      }
    
      input {
        width: 100%;
        height: 6rem;
        border-radius: 8px;
        border: 3px solid #E0EFFE;
        padding: 1.5rem 2rem;
        color: var(--text-secondary);
        font-family: Poppins;
        font-size: 1.75rem;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
      }
    }

    .register_medication_button {
      width: 100%;
      height: 6.5rem;

      padding: 2rem;
      margin: 2rem 0;

      background: var(--light-blue);
      border-radius: 1rem;

      display: flex;
      justify-content: center;
      align-items: center;
      align-self: stretch;
      gap: 0.5rem;

      color: var(--secondary-color);
      font-family: Poppins;
      font-size: 2rem;
      font-style: normal;
      font-weight: 600;
      line-height: 100%;

      transition: 0.2s;

      &:hover {
        filter: brightness(0.9)
      }
    }

    span {
      color: var(--light-blue);
      font-family: Poppins;
      font-size: 2rem;
      font-style: normal;
      font-weight: 600;
      line-height: 100%;
      text-align: center;
      cursor: pointer;
      
      transition: 0.2s;

      &:hover {
        filter: brightness(0.9)
      }
    }
  }
}